#@font-face {
#	font-family:barkentina;
#	src:url("Resources\Fonts\Barkentina1.ttf") format("truetype");
}

body {
	background-color:black;
	color:white;
	#font-family:barkentina;


.header {
	margin-right:50px;
	background-image: url("");
	text-align:top;
	text-align:;
}

.headerimg {
	background-image: url("https://lh3.googleusercontent.com/-dmRmIzftLA8/VtzbFlkQB4I/AAAAAAAAHt4/RZrqG8sRB6A/s400/2016-03-06.jpg")