#@font-face {
#	font-family:barkentina;
#	src:url("Resources\Fonts\Barkentina1.ttf") format("truetype");
}

a {
	text-decoration:none;
	color:white;
}

body {
	background-color:black;
	color:white;
}

h1 {
	font-size:50pt;
	text-align:center;
}

.content p {
	padding-left:20px;
	font-size:25px;
}